<head>
    <title>All Things Angel Investing</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta name="description"
        content="The Angel Investor Newsletter | Curated insights from the world's top startup investors" />
    <meta property="og:site_name" content="All Things Angel Investing" />
    <meta property="og:title" content="All Things Angel Investing" />
    <meta property="og:type" content="website" />
    <meta property="og:description"
        content="The Angel Investor Newsletter | Curated insights from the world's top startup investors" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic" rel="stylesheet"
        type="text/css" />
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
    <link rel="stylesheet" href="css/main.css" />
    <noscript>
        <link rel="stylesheet" href="css/noscript.css" />
    </noscript>
</head>

<body class="is-loading">
    <div id="wrapper">
        <div id="main">
            <div class="inner">
                <section id="home-section">
                    <div id="container01" class="container default full screen">
                        <div class="wrapper">
                            <div class="inner">
                                <h1 id="text03">All Things Angel Investing</h1>
                                <p id="text04">The weekly newsletter curating insights and conversations from the
                                    word&#39;s top startup investors</p>
                                <form id="m558oz" method="post" action="https://sendfox.com/form/10r9zv/m558oz" class="sendfox-form" data-async="true" data-recaptcha="true">
                             
                                        <div class="inner">
                                            <div class="field">
                                                <input type="email" name="email" id="form03-email" placeholder="Enter your email address"
                                                    maxlength="128" required  />
                                        
                                            </div>
                                            <div class="actions">
                                                <button type="submit" >Subscribe</button>
                                            </div>
                                        
                                        </div>
                                   
                                    <input type="hidden" name="id" value="form03" />
                                </form>
                            </div>
                        </div>
                    </div>
                    <h2 id="text07">Investing Insights Delivered To Your Inbox</h2>
                    <p id="text16">We scour Twitter, newsletters, AngelList and more to bring you a curated collection
                        of weekly news and commentary related to early-stage startup investing.</p>
                    <div id="container05" class="container columns">
                        <div class="wrapper">
                            <div class="inner">
                                <div>
                                    <p id="text01">Topical Commentary</p>
                                    <p id="text02">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec
                                        lacinia ligula. Morbi nec rutrum neque, nec sagittis dui. Integer pulvinar nunc
                                        sed maximus aliquam.</p>
                                    <div id="embed01">
                                        <blockquote class="twitter-tweet">
                                            <p lang="en" dir="ltr">Yes! I was floored when I learned there are so many
                                                friends of mine that angel invest with $1k-$5k here and there. That is
                                                probably the real secret to the Silicon Valley - the huge # of
                                                microangels.<br><br>I wish I had learned that in my 20s instead of my
                                                30s. <a href="https://t.co/b6CUeoQ5WE">https://t.co/b6CUeoQ5WE</a></p>
                                            &mdash; Elizabeth Yin (@dunkhippo33) <a
                                                href="https://twitter.com/dunkhippo33/status/1292810597491511307?ref_src=twsrc%5Etfw">August
                                                10, 2020</a>
                                        </blockquote>
                                        <script async src="https://platform.twitter.com/widgets.js"
                                            charset="utf-8"></script>
                                    </div>
                                    <div id="embed04">
                                        <blockquote class="twitter-tweet">
                                            <p lang="en" dir="ltr">it&#39;s hard to overstate how much of a game changer
                                                <a
                                                    href="https://twitter.com/AngelList?ref_src=twsrc%5Etfw">@AngelList</a>
                                                rolling funds are (e.g. <a
                                                    href="https://twitter.com/shl?ref_src=twsrc%5Etfw">@shl</a>&#39;s
                                                fund) for LPs, GPs &amp; founders. <br><br>i nerd out on all things
                                                investing &amp; rolling funds are the single most interesting investing
                                                related innovation i&#39;ve seen in a long time. <br> <br>thread 👇</p>
                                            &mdash; paul andersen (@paul_d_andersen) <a
                                                href="https://twitter.com/paul_d_andersen/status/1291814451046277120?ref_src=twsrc%5Etfw">August
                                                7, 2020</a>
                                        </blockquote>
                                        <script async src="https://platform.twitter.com/widgets.js"
                                            charset="utf-8"></script>
                                    </div>
                                </div>
                                <div>
                                    <p id="text19">Resources &amp; News</p>
                                    <p id="text17">Test</p>
                                    <div id="embed02">
                                        <iframe src="https://open.spotify.com/embed/playlist/0SXdmlH50qaKBH2r0EvW7n"
                                            width="400" height="480" frameborder="0" allowtransparency="true"
                                            allow="encrypted-media"></iframe>
                                    </div>
                                    <div id="embed03">
                                        <blockquote class="twitter-tweet">
                                            <p lang="en" dir="ltr">What to look for when evaluating a start
                                                idea<br><br>1. 🤤 Product-Market Fit<br>2. 🌎 Market size<br>3. 💥 Why
                                                now<br>4. 👋 Distribution<br>5. 🤝 Team<br>6. 🛡️ Moat<br>7. ⚙️ Business
                                                model<br><br>(read on)</p>&mdash; Lenny Rachitsky (@lennysan) <a
                                                href="https://twitter.com/lennysan/status/1275819005568118784?ref_src=twsrc%5Etfw">June
                                                24, 2020</a>
                                        </blockquote>
                                        <script async src="https://platform.twitter.com/widgets.js"
                                            charset="utf-8"></script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr id="divider02">
                    <div id="container03" class="container columns full screen">
                        <div class="wrapper">
                            <div class="inner">
                                <div>
                                    <h1 id="text08">Powered by Community</h1>
                                    <p id="text12"><span>All Things Angel Investing is edited by <a
                                                href="https://www.intangibleangel.com/"><strong>Intangible
                                                    Angel</strong></a>, the community for active angel investors.
                                            Members of Intangible get access to deal flow, networking and peer
                                            learning.</span><br /><br /><span><a
                                                href="https://www.intangibleangel.com/apply"><strong>Learn
                                                    More</strong></a></span></p>
                                    <h2 id="text09">Supporting Founders</h2>
                                    <p id="text18"><span>Are you a founder interested looking for feedback on your pitch
                                            or have a question you want to bounce off an expericned operator? Intangible
                                            offers free &quot;office hours&quot; in the form of quick feedback sessions
                                            open to both founders and investors.</span><br /><br /><span><a
                                                href="https://www.intangibleangel.com/officehours"><strong>Office
                                                    Hours</strong></a></span></p>
                                </div>
                                <div>
                                    <hr id="divider01">
                                    <div id="embed05">
                                        <blockquote class="twitter-tweet">
                                            <p lang="en" dir="ltr">There are many ways you can invest in
                                                entrepreneurs.<br><br>Capital is just one. Here are others:<br>Intros.
                                                Expertise. Feedback. Revenue. Recruiting.<br><br>Don&#39;t let a lack of
                                                capital stop you from helping a founder bring their vision to
                                                life.<br><br>Remember, it takes a village to raise a startup.</p>&mdash;
                                            Steve Schlafman🌎 (@schlaf) <a
                                                href="https://twitter.com/schlaf/status/1270097615225589761?ref_src=twsrc%5Etfw">June
                                                8, 2020</a>
                                        </blockquote>
                                        <script async src="https://platform.twitter.com/widgets.js"
                                            charset="utf-8"></script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="container06" class="container default full screen">
                        <div class="wrapper">
                            <div class="inner">
                                <h1 id="text11">Avoid FOMO By Subscribing Today!</h1>
                                <p id="text05">Unlike that last hot round you missed, your allocation to this newsletter
                                    is guaranteed if you act now</p>
                                <form id="form02" method="post" action="#">
                                    <% if(success){ %>
                                    <div class="inner">
                                        <div class="field">
                                            <input type="email" name="email" id="form02-email"
                                                placeholder="We have recieved your subscription!" maxlength="128" required disabled/>
                                        </div>
                                        <div class="actions">
                                            <button type="submit" disabled>Subscribe</button>
                                        </div>
                                    </div>
<% } else { %>
                                    <div class="inner">
                                        <div class="field">
                                            <input type="email" name="email" id="form02-email" placeholder="Your Email Address" maxlength="128" required />
                                        </div>
                                        <div class="actions">
                                            <button type="submit">Subscribe</button>
                                        </div>
                                    </div>

<% } %>
                                    <input type="hidden" name="id" value="form02" />
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="container04" class="container default full screen">
                        <div class="wrapper">
                            <div class="inner">
                                <ul id="icons01" class="icons">
                                    <li>
                                        <a class="n01" href="https://twitter.com/intangibleangel">
                                            <svg>
                                                <use xlink:href="assets/icons.svg#twitter"></use>
                                            </svg>
                                            <span class="label">Twitter</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="n02" href="https://www.youtube.com/channel/UCyAXUSfoc5zsT5ASH2niXMg">
                                            <svg>
                                                <use xlink:href="assets/icons.svg#youtube"></use>
                                            </svg>
                                            <span class="label">YouTube</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="n03" href="https://www.linkedin.com/company/intangibleangel/">
                                            <svg>
                                                <use xlink:href="assets/icons.svg#linkedin"></use>
                                            </svg>
                                            <span class="label">LinkedIn</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="n04"
                                            href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%68%65%6c%6c%6f%40%69%6e%74%61%6e%67%69%62%6c%65%61%6e%67%65%6c%2e%63%6f%6d">
                                            <svg>
                                                <use xlink:href="assets/icons.svg#email"></use>
                                            </svg>
                                            <span class="label">Email</span>
                                        </a>
                                    </li>
                                </ul>
                                <p id="text06">© All Things Angel Investing. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="done-section">
                    <div id="container07" class="container default">
                        <div class="wrapper">
                            <div class="inner">
                                <h2 id="text14">Thank you!</h2>
                                <p id="text15"><span>Clearly you have exceptional taste. </span><br /><br /><span>New
                                        editions typically ship on Fridays so stay tuned!</span></p>
                                <ul id="buttons01" class="buttons">
                                    <li>
                                        <a href="#home" class="button n01">Okay</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="https://www.google.com/recaptcha/api.js?hl=en"></script>
    <script src="js/main.js"></script>
    <script src="https://sendfox.com/js/form.js"></script>
    </body>